
{% if not identified %}
    <div class="alert alert-danger">매칭된 아이돌이 없습니다.</div>
{% else %}
    <a name="identified"></a>
    <section id="identified" class="text-center">
	<h2 class="mb-5 font-weight-bold">Identified</h2>

	<div class="row d-flex justify-content-center mb-4">
	    <div class="col-md-8">
		<p class="grey-text">
		    AWS AI를 통해 {{ identified|length }}명의 아이돌을 찾았습니다.
		</p>
	    </div>
	</div>

	<div class="row">

	    {% for person, similarity  in identified.items %}
		<div class="col-md-4 mb-5">
		    <img src="{{ person.photo_url }}" class="img-fluid" />
		    <h4 class="my-4 font-weight-bold">{{ person.name }}</h4>
		    {{ person }}
		    {{ similarity }}
		    <p class="grey-text">
			{{ person.confidence }}의 신뢰도
		    </p>
		</div>
	    {% endfor %}
	</div>
    </section>

    <hr class="my-5" />
{% endif %}
